.container{
	width: 1088px;
	margin: 0 auto;
}


/*------Header-------*/
.header{
	background: url('../images/header-bg.png')no-repeat center center;
	background-size: cover;
	text-align: center;
}
.header__top{
	position: relative;
    padding-top: 70px;
    text-align: left;
    padding-bottom: 6px;
}
.menu__item{
	display: inline-block;
}
.menu__link:hover{
	color: #1abc9c;
}
.menu__item:nth-child(1) {
	margin-left: 175px;
}
.menu__item:nth-child(2) {
	margin-left: 59px;
}
.menu__item:nth-child(3) {
	margin-left: 247px;
}
.menu__item:nth-child(4) {
	margin-left: 70px;
}
.menu__logo{
	background: url('../images/menu-item.png') 50% 0 no-repeat;
	height: 55px;
	position: absolute;
    width: 53px;
    left: 50%;
    margin-left: -32.5px;
    top: 40px;
}
.menu__link{
	color: #fff;
	font-family:'GothamRounded-Bold';
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	line-height: 20px;
}
.header__main{
	margin-top: 241px;
	margin-bottom: 236px;
}
.main-title{
	color: #fff;
	font-family:'GothamRounded-Bold';
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 5.5px;
    padding-left: 9px;
}
.main-text{
	display: block;
	font-family:'GothamRounded-Medium';
	color: #fff;
	font-size: 16px;
	letter-spacing: 2.4px;
    margin-top: 13px;
    margin-left: 4px;
    margin-bottom: 43px;
}
.main-button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 18px 28px 16px 30px;
}
.main-button:hover{
	background-color: #1abc9c;
}
.header__bottom{
	padding-bottom: 23px;
}
.header__bottom a:hover{
	color: #1abc9c;
}
.header-icon{
	color: #fff;
	font-size: 25px;
}
.fa-flickr{
	padding: 0px 11px;
	margin-left: 3px;
}
/*------End_Header-------*/

/*-------Second_block-----*/
.second-block{
	background-color: #f5f6f7;
	height: 492px;
}
.text-block{
	display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: 111px;
    margin-left: 32px;
}
.text-block__title{
	display: block;
	color: #159f85;
	font-family:'GothamRounded-Bold';
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	line-height: 1.1;
}
.text-block__content{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Book';
	font-size: 12px;
	line-height: 2;
    margin-top: 41px;
    margin-bottom: 60px;
    letter-spacing: 1.8px;
}
.text-block__conten_bold{
	color:#000;
	font-family:'GothamRounded-Bold';
}
.text-block__button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 20px 42px 16px 43px;
}
.text-block__button:hover{
	background-color: #1abc9c;
}
.img-block{
	display: inline-block;
    position: relative;
    top: 91px;
    left: -57px;
    z-index: 1;
    width: 50%;
}
/*-------End_Second_block-----*/

/*--------Design------------*/
.design{
	position: relative;
	z-index: 99999;
	background: #fff;
	margin-bottom: -62px;
}
.design__phone{
	display: inline-block;
	position: relative;
    top: 146px;
    left: 28px;
    z-index: 1;
}
.design__content{
	display: inline-block;
	float: right;
	margin-right: -17px;
    margin-top: 144px;
    width: 40%;
}
.design__title{
	color: #159f85;
	font-family:'GothamRounded-Bold';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
    margin-left: -1px
}
.design__text{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Book';
	font-size: 12px;
    margin-top: 36px;
    margin-bottom: 54px;
    line-height: 1.9;
	letter-spacing: 1.8px;
	margin-left: 3px;
}
.design__text_bold{
	color:#000;
	font-family:'GothamRounded-Bold';
}
.design__button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 18px 46px 18px 42px;
    margin-left: 2px;
}
.design__button:hover{
	background-color: #1abc9c;
}
.design__count{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 12px;
	font-weight: bold;
	margin-top: 63px;
    letter-spacing: 2px;
    margin-bottom: -2px;
}
.design__arrow_right{
	margin-left: 17px;
	font-size: 30px;
	color: #000;
}
.design__arrow_left{
	margin-left: 2px;
	font-size: 30px;
	color: #000;
}
/*--------End_Design------------*/

/*--------Community-------------*/
.community{
	background: #f5f6f7;
	position: relative;
	z-index: 99999;
	padding-top: 91px;
	padding-bottom: 116px;
}
.community__arrows{
	float: right;
	margin-right: 32px;
    margin-top: -4px;
}
.community__arrow_right{
	margin-left: 13px;
	font-size: 30px;
	color: #000;
}
.community__arrow_left{
	margin-left: 2px;
	font-size: 30px;
	color: #000;
}
.community__content{
	display: inline-block;
	text-align: center;
    vertical-align: top;
    margin-left: 33px;
    margin-top: 74px;
    float: left;
}
.community__content_title{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 27px;
    letter-spacing: 2.3px;
}
.community__content_text{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Medium';
	font-size: 10px;
	line-height: 1.2;
    margin-top: 20px;
    letter-spacing: 1.5px;
    margin-right: -3px;
}
.community__images{
	display: inline-block;
	margin-left: 81px;
    margin-top: 4px;
}
.community__images_second{
	margin-left: 20px;
}
/*--------End_Community-------------*/

/*---------Subscribe----------*/
.subscribe{
	background: url('../images/subscribe-bg.png')no-repeat center center;
	background-size: cover;
	text-align: center;
	padding-top: 349px;
	padding-bottom: 325px;
}
.subscribe__title{
	color: #fff;
	font-family:'GothamRounded-Bold';
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.7px;
    padding-left: 6px;
}
.subscribe__form{
	width: 343px;
    margin: 32px auto 0px;
}
.subscribe__form_input{
	border: none;
    border-radius: 3px 0 0 3px;
    font-family: 'GothamRounded-Medium';
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    outline: none;
    width: 279px;
    height: 60px;
    letter-spacing: 3px;
    box-sizing: border-box;
    padding-left: 22px;
    line-height: 16px;
    display: inline-block;
    float: left;
}
.subscribe__form_button{
	border: none;
    border-radius: 0 3px 3px 0;
    background-color: #159f85;
    color: #fff;
    width: 63px;
    position: relative;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 19px;
    float: left;
}
.subscribe__form_button:hover{
	background-color: #1abc9c;
}
.subscribe__form:after{
	content: "";
	clear: both;
	display: block;
}
.subscribe__fa-check{
	font-size: 22px;
}
input.subscribe__form_input::-webkit-input-placeholder,
input.subscribe__form_input::-moz-placeholder,
input.subscribe__form_input:-moz-placeholder,
input.subscribe__form_input:-ms-input-placeholder{
	color: #373737;
}
/*---------End_Subscribe----------*/

/*-----------Download--------------*/
.download{
	background: #f5f6f7;
	text-align: center;
	padding-top: 89px;
	padding-bottom: 115px;
}
.download__title{
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	letter-spacing: 3px;
	margin-bottom: 8px;
}
.download__text{
	color: #373737;
	font-family:'GothamRounded-Medium';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
    line-height: 1.9;
}
.download__buttons{
	padding-top: 40px;
}
.download__buttons_text{
	color: #fff;
    font-family: 'GothamRounded-Bold';
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1abc9c;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 297px;
    padding: 23px 0px 17px 24px;
    border-radius: 3px;
    text-align: left;
    letter-spacing: 2.45px;
}
.download__buttons_text:after{
	position: absolute;
    right: 0px;
    width: 56px;
    height: 56px;
    top: 0%;
    background-color: #16a085;
    padding-top: 16px;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
}
.download__buttons_apple{
	margin-right: 13px;
	font-size: 16px;
}
.download__buttons_apple:hover{
	background-color: #16a085;
}
.download__buttons_android{
	margin-left: 12px;
	font-size: 18px;
	padding: 21px 0px 18px 30px;
}
.download__buttons_android:hover{
	background-color: #16a085;
}
.download__buttons_apple:after{
	content: "\f179";
    font: normal normal normal 26px/1 FontAwesome;
    position: absolute;
}
.download__buttons_android:after{
    content: "\f17b";
    font: normal normal normal 29px/1 FontAwesome;
    padding-top: 13px;
}
/*-----------End_Download--------------*/

/*----------Footer------------*/
.footer{
	padding-top: 44px;
    padding-left: 61px;
    padding-bottom: 35px;
}
.footer__nav{
	margin-bottom: 20px;
}
.footer__nav_item{
	display: inline-block;
	margin-right: 6px;
}
.footer__nav_item:after{
	content: " ";
    font-weight: bold;
    position: relative;
    top: 1px;
    color: #16a085;
    display: inline-block;
    width: 1px;
    background-color: #16a085;
    height: 13px;
}
.footer__nav_item:last-child:after{
	width: 0px;
}
.footer__nav_link{
	color: #373737;
    font-family: 'GothamRounded-Bold';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    padding-right: 8px;
}
.footer__copyright{
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2.1px;
}
.footer__content{
	display: inline-block;
}
.footer__logo{
	float: right;
    margin-right: 63px;
    position: relative;
    bottom: 6px;
}
/*--------End_Footer------------*/