.container{
	width: 1088px;
	margin: 0 auto;
}


/*------Header-------*/
.header{
	background: url('../images/header-bg.png')no-repeat center center;
	background-size: cover;
	text-align: center;
}
.menu{
	padding-top: 25px;
}
.menu__item{
	display: inline-block;
	position: relative;
    top: 47px;
}
.menu__item:nth-child(2) {
	padding-right: 100px;
}
.menu__item:nth-child(3) {
	padding-left: 100px;
}
.menu__logo{
	background: url('../images/menu-item.png') 50% 0 no-repeat;
	height: 55px;
}
.menu__link{
	color: #fff;
	font-family:'GothamRounded-Bold';
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.header__main{
	margin-top: 241px;
	margin-bottom: 236px;
}
.main-title{
	color: #fff;
	font-family:'GothamRounded-Bold';
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 5.5px;
    padding-left: 9px;
}
.main-text{
	display: block;
	font-family:'GothamRounded-Medium';
	color: #fff;
	font-size: 16px;
	letter-spacing: 2.4px;
    margin-top: 13px;
    margin-left: 4px;
    margin-bottom: 43px;
}
.main-button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 18px 28px 16px 30px;
}
.header__bottom{
	padding-bottom: 23px;
}
.header-icon{
	color: #fff;
	font-size: 25px;
}
.fa-flickr{
	padding: 0px 11px;
	margin-left: 3px;
}
/*------End_Header-------*/

/*-------Second_block-----*/
.second-block{
	background-color: #f5f6f7;
	height: 492px;
}
.text-block{
	display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: 111px;
    margin-left: 32px;
}
.text-block__title{
	display: block;
	color: #159f85;
	font-family:'GothamRounded-Bold';
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	line-height: 1.1;
}
.text-block__content{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Book';
	font-size: 12px;
	line-height: 2;
    margin-top: 41px;
    margin-bottom: 60px;
    letter-spacing: 1.8px;
}
.text-block__conten_bold{
	color:#000;
	font-family:'GothamRounded-Bold';
}
.text-block__button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 20px 42px 16px 43px;
}
.img-block{
	display: inline-block;
    position: relative;
    top: 91px;
    left: -57px;
    z-index: 1;
    width: 50%;
}
/*-------End_Second_block-----*/

/*--------Design------------*/
.design{
	position: relative;
	z-index: 99999;
	background: #fff;
	margin-bottom: -62px;
}
.design__phone{
	display: inline-block;
	position: relative;
    top: 146px;
    left: 28px;
    z-index: 1;
}
.design__content{
	display: inline-block;
	float: right;
	margin-right: -17px;
    margin-top: 144px;
    width: 40%;
}
.design__title{
	color: #159f85;
	font-family:'GothamRounded-Bold';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
    margin-left: -1px
}
.design__text{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Book';
	font-size: 12px;
    margin-top: 36px;
    margin-bottom: 54px;
    line-height: 1.9;
	letter-spacing: 1.8px;
	margin-left: 3px;
}
.design__text_bold{
	color:#000;
	font-family:'GothamRounded-Bold';
}
.design__button{
	color: #fff;
	font-size: 12px;
	font-family:'GothamRounded-Bold';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #159f85;
	letter-spacing: 2px;
    padding: 18px 46px 18px 42px;
    margin-left: 2px;
}
.design__count{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 12px;
	font-weight: bold;
	margin-top: 63px;
    letter-spacing: 2px;
    margin-bottom: -2px;
}
.design__arrow_right{
	margin-left: 17px;
	font-size: 30px;
	color: #000;
}
.design__arrow_left{
	margin-left: 2px;
	font-size: 30px;
	color: #000;
}
/*--------End_Design------------*/

/*--------Community-------------*/
.community{
	background: #f5f6f7;
	position: relative;
	z-index: 99999;
	padding-top: 91px;
	padding-bottom: 117px;
}
.community__arrows{
	float: right;
	margin-right: 32px;
    margin-top: -4px;
}
.community__arrow_right{
	margin-left: 13px;
	font-size: 30px;
	color: #000;
}
.community__arrow_left{
	margin-left: 2px;
	font-size: 30px;
	color: #000;
}
.community__content{
	display: inline-block;
	text-align: center;
    vertical-align: top;
    margin-left: 33px;
    margin-top: 75px;
    float: left;
}
.community__content_title{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Bold';
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 27px;
    letter-spacing: 2.3px;
}
.community__content_text{
	display: block;
	color: #373737;
	font-family:'GothamRounded-Medium';
	font-size: 10px;
	line-height: 1.2;
    margin-top: 20px;
    letter-spacing: 1.5px;
    margin-right: -3px;
}
.community__images{
	display: inline-block;
	margin-left: 81px;
    margin-top: 5px;
}
.community__images_second{
	margin-left: 20px;
}
/*--------End_Community-------------*/
